<div class="modal fade" #confirmationDialog>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>DO YOU WANNA ROCK?!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">YUP! CRANK IT TO 11!</button>
        <button type="button" class="btn btn-secondary">Nah, rock music hurts my ears.</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-success"
  (click)="openModal()">
  Open
</button>
<router-outlet></router-outlet>
