<div class="modal fade" #confirmationDialog>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Willingness to Rock</h5>
        <button type="button" class="btn-close" (click)="userRocks(false)" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>DO YOU WANNA ROCK?!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="userRocks(true)">YUP! CRANK IT TO 11!</button>
        <button type="button" class="btn btn-secondary" (click)="userRocks(false)">Nah, rock music hurts my ears.</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-success"
  (click)="openModal()">
  Open
</button>

<div class="modal fade" #videoModal data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <iframe width="560" height="315" src=""
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
